@{
  Layout = "_Layout";
}

<h1>Vendor Tracker!</h1>
<p>An interactive web app that you use to dynamically organize vendors and subsequent orders</p>
<br>
<h3>Navigate the multiple pages with the nav-bar above</h3>