@{
  Layout = "_Layout";
}

<h1 id="type">Vendor Tracker!</h1>
<p class="center">An interactive web app that you use to dynamically organize vendors and subsequent orders</p>
<br>
<h3 class="center">Navigate the multiple pages with the nav-bar above</h3>