<img src='~/img/logo.png' alt="VOT Logo" height="165px" width="165px">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/vendor">View vendors</a></li>
    <li role="presentation"><a href='/vendor/new'>Add an order</a></li>
  </ul>