@{
  Layout = "_Layout";
}
@using VOT.Models;

<h1>Add an order to @Model.Name</h1>

<form action="/vendor/@Model.Id/order" method="POST">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <input id="orderDescription" name="orderDescription" type="text" placeholder="Order Description">
  <br>
  <input name="img" id="img" type="text" placeholder="Enter Img URL Here">
  <br>
  <button class="btn" type="submit">Add Order</button>
</form>