@{
  Layout = "_Layout";
}
@using VOT.Models;

<h1 id="type">Order Details:</h1>
<div class="center">
  <h2>@Model["order"].Description</h2>
  <h3>Vendor: @Model["vendor"].Name</h3>
  <img src='@Model["order"].ImgURL'>
  <br>
  <a href='/vendor/@Model["vendor"].Id/order/new'>Create another order</a>
</div>